.containerForm {
    max-width: 600px; /* Ancho máximo de la tarjeta */
    margin: 20px auto; /* Centrar la tarjeta horizontalmente con margen vertical */
    padding: 20px; /* Espaciado interno */
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    border: 1px solid #e0e0e0; /* Borde sutil */
}

.containerForm h2 {
    margin-bottom: 20px; /* Espaciado debajo del título */
    font-size: 24px; /* Tamaño de fuente para el título */
    color: #333; /* Color del texto del título */
}

.containerForm p, .containerForm button {
    margin-bottom: 15px; /* Espaciado debajo de párrafos y botones */
}

.containerForm button {
    background-color: #007bff; /* Color de fondo del botón */
    border: none; /* Sin borde */
    color: white; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border-radius: 4px; /* Bordes redondeados del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.containerForm button:hover {
    background-color: #0056b3; /* Color de fondo en hover */
}
